@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* ======= Your styling goes below ======= */


.container {  
  box-sizing: border-box;
  font-family: sans-serif; 
}

ul { list-style-type: none; }

a { 
  display: inline-block; 
  text-decoration: none;
}

img { width: 100%; }

.wrapper {
  max-width: 1112px;
  width: 86.46%;
  margin: 0 auto;
}


/* ********** style for header starts here**************** */

header {
  width: 100%;
  position: fixed;
  top: 0;
}

header .wrapper { 
  padding: 3.9% 0;
  display: flex; 
  justify-content: space-between;
}

h1 {
  width: 13%;
  display: inline-block;
}

h1 a { text-indent: -9999px; }

h1 a img { float: left; }

nav {
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-basis: 0%;
  justify-content: space-between;
}

.hamburger { 
  width: 22px;
  height: 19px;
  display: inline-block;
  position: relative;
  cursor: pointer; 
  order: 1;
}

.hamburger span {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #fff;
  text-indent: -9999px; 
}

.first-ham { top: 0; }
.second-ham { top: 8px; }
.third-ham { bottom: 0; }

.navigation {
  display: none;
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
}

.navigation li { 
  padding: 15px; 
  text-align: center;
}

.navigation li a {
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.navigation li a:hover {
  border-bottom: 3px solid #fff;
  border-radius: 2px;
  transition: .6s;
}

nav .first-ham.rotate1 { 
  animation: rotate1 1s forwards;  
}
/* 
nav .first-ham.rotate4 { animation: rotate4 1s forwards;}
nav .second-ham.rotate5 { animation: rotate5 1s forwards;}
nav .third-ham.rotate6 { animation: rotate6 1s forwards;} */

/* @keyframes rotate4 {
  0% { top:8px; transform: rotate(45deg);  }
  100% { top: 0; transform: rotate(0); }
} */
@keyframes rotate1 {
  0% { top: 0; transform: rotate(0);  }
  100% { top: 8px; transform: rotate(45deg); }
}



nav .second-ham.rotate2 {  
  animation: rotate2 1s forwards; 
}

@keyframes rotate2 {
  0% { opacity: 1;}
  100% { opacity: 0; }
}

/* @keyframes rotate5 {
  0% { display: none; };
  100% { display: block; };
} */

nav .third-ham.rotate3 { animation: rotate3 1s forwards;
}

@keyframes rotate3 {
  0% { top: 0;transform: rotate(0);   }
  100% { top: 8px;transform: rotate(135deg); }
}

/* @keyframes rotate6 {
  0% { top: 8px; transform: rotate(135deg); }
  100% { top:0; transform: rotate(0);  }
} */

.navigation.animate {
  display: block;
  background-color: rgba(0,0,0,.6);
  animation: slide 1s forwards;
}

@keyframes slide {
  0%{ transform: translateY(-300px); }
  100% { transform: translateY(380px); }
}

.navigation.animate2 {
  display: block;
  background-color: rgba(0,0,0,.6);
  animation: slideout 1s forwards;
}

@keyframes slideout {
  0%{ transform: translateY(380px); }
  100% { transform: translateY(-300px); }
}

/* *************style for header ends here******************* */

/* ******style for back to top******* */
.scroll{
  width: 45px;
  height: 45px;
  display: inline-block;
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #000;
  cursor: pointer;
  text-indent: -9999px;
}

.scroll:before {
  content: "\f106";
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  font-weight: 900;
  text-indent: 0;

}

.scroll.move { display: block; }

/* ****************banner style starts here*************** */
.banner {  background: linear-gradient(to right, #ff884d ,#b33c00,#802b00) ; }

.banner .wrapper { padding: 13% 0 6.6%; }

.banner h2 {
  color: #fff;
  font-size: 59px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* ************** banne style ends here**************** */
/* ******************strategic style starts here ***************/

/* common style for h3  */
.strategic h3,
.team h3 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

/* common style for p */
.strategic p,
.team p {
  width: 65.6%;
  margin: 0 auto;
  margin-top: 17px;
  text-align: center;
}

.strategic .wrapper {
  padding: 5.6% 0 3.8%;
}

.strategic a {
  width: 22.5%;
  padding: 10px 15px;
  border: 2px solid #405aff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 38px;
  display: block;
  color: #405aff;
  font-size: 1.1vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.strategic a:hover {
  background-color: #405aff;
  color: #fff;
  transition: .6s;
}
/* ****************strategic style ends here***************** */

/* ***************style for team starts here************** */

.team { background: linear-gradient(to right ,#99ceff,#cce6ff,#b3daff); }

.team .wrapper { padding: 4.7% 0; }

.team-category { 
  margin-top: 66px;
  display: flex; 
  justify-content: center;
}

.team-category span {
  margin-right: 43px;
  display: block;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all {
  width: 23.6%;
  margin-top: 46px;
  display: none;
  background-color: #fff;
}

.all span:first-of-type {
  margin-top: 10px;
  display: block;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.all span:last-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
}

.design { color: #3c55f0; }

.filter-container li.active { display: block; }



/* *********style for team ends here***************** */

/* *************style for services starts here *********** */

.services .wrapper { padding: 6.1% 0 4.4%; }

.services-list { width: 100%; }

.services-list li { 
  text-align: center; 
}

.services-list figure { 
  width: 25.5%; 
  border-radius: 50px;
  margin: 0 auto;
  overflow: hidden;

}

.services-list li span {
  margin-top: 28px;
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;
}

.services-list li p {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  color: rgba(0,0,0,.4);
  font-size: 15px;
  text-transform: capitalize;
  line-height: 22px;
}


.slick-prev, 
.slick-next {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  top: 50%;
  color: #000;
  font-size: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  line-height: 0;
  /*  background: #000; */
}


.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: none;
  color: #000;
  outline: none;
}


.slick-prev:before,
.slick-next:before {
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  font-weight: 900;
}



.slick-prev:before {
  content: '\f104';
}

.slick-next:before {
  content: '\f105'; 
}

/* ***************style for services ends here *********** */
/* ********style for capabilities tab starts here********* */

.capabilties {   background: linear-gradient(to right,#006666,#009999,#00cccc); }

.capabilties .wrapper { padding: 4.8% 0 5.1%; }

.capabilties h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.capabilties .wrapper > p {
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

.capabilties .wrapper > ul {
  width: 80%;
  margin: 0 auto;
  margin-top: 58px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.capabilties .wrapper > ul  li { 
  width: 11%; 
  cursor: pointer;
}

.tabs-container {
  width: 81.3%; 
  margin: 0 auto; 
  margin-top: 63px;
}

.tabs-container > div {
  display: flex;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tabs-container > div.display { 
  display: flex; 

}


.data,
.case-study {
  padding: 5%;
  background-color: rgba(255,255,255,.3);
  flex-basis: 40%;
}


.data h4 {
  margin-top: 34px;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.data p { 
  margin-top: 23px; 
  font-size: 15px;
  line-height: 20px;
}

.case-study { background-color: #fff; }

.case-study h4 {
  font-size: 20px; 
  font-weight: 900;
  text-transform: capitalize;

}

.case-study ul li p:before{
  content: "\2022";
  width: 5px;
  margin-right: 15px;
  display: inline-block;
  color: #3ec297;
  font-weight: 900;
}

.case-study ul li p { font-size: 15px; }

.case-study ul li a { 
  color: #3ec297;
  text-transform: capitalize; 
  text-decoration: underline;
}

.case-study ul { margin-top: 20px; }
.data figure { width: 15.2%; }
/* *************style for capabilities tab ends here******** */

/* ************* style for form starts here************** */

.subscribe { background-color: #444348; }

.subscribe  .wrapper { padding: 2.9% 0 2.8%; }

.subscribe h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.subscribe form {
  width: 42.7%;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
} 

.email { 
  flex-basis:  65%;  
}

.email span {
  display: block;
  display: none;
  color: #fff;
}

.email input {
  width: 90%;
  padding: 5%;
  border: none;
  text-transform: capitalize;
}

.subscribe form button {
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-bottom: auto;
  margin-left: 15px;
  vertical-align: top;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  outline: 0;
  letter-spacing: 2px;
}

.subscribe form button:hover {
  background-color: #fff;
  color: #444348;
  transition: .6s;
}

.error.enter { display: block; }

/* ********style for form ends here********** */


/* **********style for footer starts here********** */
/* *************style for upper footer starts here********** */
.upper-footer { background-color: #38373c; }

.upper-footer .wrapper {
  padding: 3% 0 ;
  display: flex;
  justify-content: space-between;
}

.upper-footer h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
}

.upper-footer ul { margin-top: 8px; }
.upper-footer ul li { margin-top: 5px; }

.upper-footer figure { 
  width: 10%; 
  margin-bottom: auto;
}

.upper-footer a {
  border-bottom: 1px solid transparent;
  display: inline-block;
  color: #fff;
  color: rgba(255,255,255,.6);
  font-size: 12px;
  text-transform: capitalize;
}

.upper-footer a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: .6s;
}


.follow-us ul {
  display: flex;
  justify-content: space-between;
}

.follow-us ul li { margin-right: 25px; }

.follow-us ul li a {
  display: inline-block;
  text-indent: -9999px;
}

.follow-us li:nth-child(1) a:before { content: "\f39e"; }
.follow-us li:nth-child(2) a:before { content: "\f099"; }
.follow-us li:nth-child(3) a:before { content: "\f0e1"; }
.follow-us li:nth-child(4) a:before { content: "\f167"; }

.follow-us li a:before {
  float: left;
  font-family: "Font Awesome 5 Brands";
  font-size: 18px;
  font-weight: 900;
  text-indent: 0;
}

.follow-us li a:hover:before {
  color: #fff;
  transition: .6s;
} 

/* ****style for upper footer ends here***** */
/* *******style for lower footer starts here******** */
.lower-footer { background-color: #2c2b30; }

.lower-footer .wrapper {
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-footer span {
  vertical-align: middle; 
  color: #fff; 
  font-size: 13px;
  text-transform: capitalize;
}

.lower-footer ul {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.lower-footer ul li { margin-right: 15px; }

.lower-footer ul li:before {
  content: "";
  width: 1px;
  height: 13px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255,255,255,.6);
}

.lower-footer ul li a {
  color: #fff;
  color: rgba(255,255,255,.6);
  font-size: 12px;
  text-transform: capitalize;
}

.lower-footer ul li a:hover { 
  color: #fff; 
  transition: .6s;
}


/* ******style for lower footer ends here******* */
/* **********style for footer ends here************ */

/* ********medai query for 1024 starts here****** */
@media screen and (max-width: 1024px){
  form { text-align: center; }
  .subscribe form { flex-wrap: wrap; }
  .email { flex-basis: 100%; }
  
  .subscribe form button {
    margin: 0 auto; 
    margin-top: 25px; 
    flex-basis: 35%;
  }
}

@media screen and (max-width: 900px) {
  .strategic a {
    width: 26.5%;
    font-size: 1.3vw;
  }
  .team h3 { font-size: 21px; }
  
  .team-category span { font-size: 14px; }
  .services-list li span { font-size: 16px; }
  .services-list li p { line-height: 17px; }

  .data, .case-study { flex-basis: 100%; }
  .upper-footer .wrapper { flex-wrap: wrap; }

  .upper-footer .wrapper div { flex-basis: 40%; }
}

@media screen and (max-width: 768px) {
  .navigation li a:hover {
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    transition: .6s;
  }

  .all { flex-basis:  48%; }
  .strategic h3 { font-size: 21px; }

  .strategic a {
    width: 37.5%;
    font-size: 1.8vw;
  }

  .team-category { flex-wrap: wrap; }

  .team-category span { 
    margin-top: 15px;
    margin-right: 0;
    flex-basis: 48%; 
  }

  .strategic a:hover {
    background-color: #fff;
    color: #405aff;
    transition: .6s;
  }

  .subscribe form button:hover {
    background-color: #444348;
    color: #fff;
    transition: .6s;
  }

  .upper-footer .wrapper div {
    margin-top: 35px;
}
}

/* ************** medaia query for 520 to 320********* */
@media screen and (max-width: 320px) {
  .banner h2 { font-size: 35px; }
  .strategic h3 { font-size: 17px; }
  
  .strategic p,
  .team p {
    width: 84.6%;
    font-size: 12px;
  }

  .strategic a {
    width: 54.5%;
    font-size: 2.6vw;
  }
  .team h3 { font-size: 15px; }

  .team-category span { 
    text-align: center; 
    flex-basis: 100%;
  }

  .all { flex-basis: 100%; }
  .data h4 { font-size: 18px; }

  .data p {
    font-size: 12px;
    line-height: 15px;
  }

  .case-study h4 { font-size: 16px; }
  .case-study ul li p { font-size: 12px; }
  .subscribe form { width: 100%; }

  .subscribe form button  {
    font-size: 12px; 
    flex-basis: 100%; 
  }
  
  .upper-footer .wrapper div {
    margin-top: 25px;
    flex-basis: 100%;
  }

  .lower-footer ul li:before { content: none; }
  .lower-footer ul li { margin-right: 16px;   }
} 

